###############################################################################
# Wordpress Site Configuration
###############################################################################
#
# WORDPRESS_WP_SITEURL: Sets the domain for the site
#       i.e:  https://mydomain.com
# WORDPRESS_LOGIN_URL: URL of the wordpress admin login
#       i.e: d663bd873d93
WORDPRESS_WP_SITEURL="http://127.0.0.1"
WORDPRESS_LOGIN_URL= "d663bd873d434343293"
# TOTALMEM / 4
WORDPRESS_WP_MEMORY_LIMIT="256M"


###############################################################################
# Wordpress Database Configuration
###############################################################################
WORDPRESS_DB_HOST="mysql"
WORDPRESS_DB_NAME="wordpress"
WORDPRESS_DB_USER="root"
WORDPRESS_DB_PASSWORD="um7Upx4HrANDnK7EgD4yD5uZ7gA9"

###############################################################################
# NEW RELIC
###############################################################################
NEW_RELIC_LICENSE_KEY="NRAK-ZJ83THE8V7G9JTBHSAXRGJW6299"
NEW_RELIC_APP_NAME="goat"

###############################################################################
# REDIS
###############################################################################
#WP_REDIS_DISABLED=true
WP_REDIS_HOST="192.168.1.157"
WP_REDIS_PORT=6379
# USE PW WHEN REQUIRED
#WP_REDIS_PASSWORD="pab38fbee08812f17f1529fc6a6db76a6d7313147e38bdb07f1a6df794e7118cd"
# Include REDIS PORT in the URL
NGINX_REDIS_UPSTREAM="192.168.1.157:6379"
#NGINX_REDIS_PASSWORD="pab38fbee08812f17f1529fc6a6db76a6d7313147e38bdb07f1a6df794e7118cd"

###############################################################################
# NGINX
###############################################################################
#Optional
NGINX_CDN_HOST="https://storage.googleapis.com/wplocal"
    #######
    # NOT REQUIRED (SHOWING DEFAULT VALUES)
    #######
    # PHP_FPM_UPSTREAM="127.0.0.1:9000"
    # NGINX_DOCROOT="/usr/share/nginx/html"
    # NGINX_PROXY_UPSTREAM="127.0.01:8081"

###############################################################################
# PHP FPM
###############################################################################
PHP_MAX_INPUT_TIME=600
PHP_MAX_REQUESTS=1000
    #######
    # NOT REQUIRED (SHOWING DEFAULT VALUES)
    #######
    # APP_DOCROOT="/usr/share/nginx/html"
    #PHP_FPM_PORT=9000
    # PHP_MAX_INPUT_VARS=10000
    # PHP_OPCACHE_ENABLE=1
    # PHP_MAX_EXECUTION_TIME=300
    #PHP_UPLOAD_MAX_FILESIZE=128M
    # TOTALMEM / 2
    #PHP_MEMORY_LIMIT=128M
    # TOTALMEM / 2
    #PHP_POST_MAX_SIZE=128M
    # TOTALMEM / 6
    #PHP_OPCACHE_MEMORY_CONSUMPTION=62
    # TOTALCPU * 2
    #PHP_MAX_CHILDREN=9
    # TOTALCPU / 2
    #PHP_START_SERVERS=2
    # TOTALCPU / 2
    #PHP_MIN_SPARE_SERVERS=2
    # TOTALCPU
    #PHP_MAX_SPARE_SERVERS=4



